body {
  background-color: #bbdab5;
  margin: 0%;
}

table {
  border-collapse: collapse;
}

th {
  font-size: 110%;
}

td {
  font-size: 110%;
  padding: 3%;
}

.NavigationBar {
  position: sticky;
  top: 0px;
  background-color: rgb(80, 153, 153);
}

.NavigationBackground {
  display: block;
  margin: 0px;
  list-style: none;
  overflow: hidden;
}

.HomePageButton {
  display: list-item;
  float: left;
  margin: 15px;
}

.NavigationButton {
  display: list-item;
  float: right;
  margin: 15px;
}

.NavigationText {
  display: block;
  text-decoration: none;
  font-size: 150%;
}

.HomeTitle {
  text-align: center;
  font-size: 150%;
}

.Title {
  text-align: left;
  font-size: 130%;
  margin-left: 2%;
}

.Description {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 110%;
}

.Content {
  text-align: left;
  margin-left: 2%;
  margin-bottom: 10%;
}

.Leaderboard {
  text-align: center;
  background-color: #bbbbbb;
  width: 30%;
  padding: 0.5%;
  border: 2px solid black;
  margin-top: 1%;
}

.CategoryGroup {
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.CategoryPrefix {
  display: inline-block;
  margin-top: 10px;
  margin-left: 15%;
  font-size: 110%;
}

.CategoryButtonGroup {
  display: inline-block;
  margin-left: 5%;
  margin-right: 15%;
}

.CategoryButton {
  background-color: #448fbb;
  color: white;
  padding: 16px;
  font-size: 100%;
  border: none;
  cursor: pointer;
}

.CategoryList {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.CategoryList a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.CategoryList a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.Scoreboard {
  width: 100%;
  background-color: #f1f1c1;
  text-align: center;
  border-spacing: 5px;
  box-sizing: content-box;
}

.RankingCol {
  width: 20%;
}

.Icon {
  height: 80px;
  width: 80px;
}

code {
  font-family: Consolas, "courier new";
  color: #ffffff;
}

.CodeBackground {
  background: #001628;
  width: 30%;
}

.CodeBackground2 {
  background: #001628;
  width: 65%;
}

.JSObject {
  border-collapse: separate;
  border-spacing: 3px;
  width: 60%;
  box-sizing: content-box;
  text-indent: initial;
}

.JSObject th {
  background-color: #76996b;
}

.JSObject tr {
  background-color: #afd473;
  text-align: center;
}

.JSObject td {
  padding: 10px;
}

.Rank1 td {
  font-size: 110%;
  padding: 3%;
  animation: goldletter 5s infinite linear;
}

@keyframes goldletter {
  0% {
    color: black;
  }
  50% {
    color: gold;
  }
  100% {
    color: black;
  }
}

.Rank2 td {
  font-size: 110%;
  padding: 3%;
  animation: silverletter 5s infinite linear;
}

@keyframes silverletter {
  0% {
    color: black;
  }
  50% {
    color: silver;
  }
  100% {
    color: black;
  }
}

.Rank3 td {
  font-size: 110%;
  padding: 3%;
  animation: bronzeletter 5s infinite linear;
}

@keyframes bronzeletter {
  0% {
    color: black;
  }
  50% {
    color: brown;
  }
  100% {
    color: black;
  }
}
